body {
  font-family: sans-serif;
}

input {
  border-radius: 6px;
  border: none;
  padding: 5px 15px;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 3px 15px;
  margin-right: 3px;
}

button:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

li {
  margin-right: 6px;
}

.input-area {
  background-color: #fadbda;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.impomplete {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.complete {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
